body{
	background-image: url("../../images/img04.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.audio{
	display: none;
}
header, footer{
	margin: auto;
}

#annee{
	font-size: 3em;
	color: rgb(204, 153, 0);
	font-weight: 700;
	text-transform: uppercase;
}
.citations{
	display: flex;
	justify-content: center;
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1em;
	color: #F9F9F9;
}

#mandela{
background-color: rgba(0,153,255,0.2);
margin: 0.5em auto;
}
#confusus{
background-color: rgba(51,204,51,0.2);
margin: 0.5em auto;
}
.corps{
	background-image: url("../../images/uk2006at5.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}
.img-fluid{
	height: 7em;
}
.images{
	margin-top: 1em;
	display: flex;
	justify-content: center;
}
.img-fluid{
	border : 0.2em solid green;
	border-radius: 50%;
}
.mots{
	margin-top: 1.5em;
	display: flex;
	justify-content: center;
}
.voeux{
	display: flex;
	justify-content: center;

}
#photo.img-fluid{
	height: 15em;
	border: none;
	border-radius: 0%;
	display: flex;
	justify-content: center;
	padding: 0.5em;
}
.expression{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.5em;
	background-color: rgba(214, 216, 215,0.3); 
	color: rgb(4, 35, 14);
	font-weight: 500;
	margin: 0.5em 0;
}
